spring:
    datasource:
        driver-class-name: com.mysql.cj.jdbc.Driver
        url: jdbc:mysql://localhost:3306/seckill?useUnicode=true&&characterEncoding=UTF-8&&serverTimezone=Asia/Shanghai
        username: root
        password: 123456
    redis:
        host: 192.168.23.128
        port: 6379
        database: 0
        connect-timeout: 10000ms
mybatis:
#    mapper-locations: classpath:mapper/*.xml
    mapper-locations: classpath*:/mapper/*.xml
    type-aliases-package: com.springbootMybatisRedisCache.entity
logging:
    level:
        com.redis.dao: debug